#navi{
    background-color: rgb(254,149,164);
;
    padding-left: 2%;
}

#contactbtn{
  margin-left: 1550px;
}

#loginbtn{
    margin: 1%;
    padding: 3% 5%;
    transition-duration: 0.4s;
    font-size: 30px;
}
#loginbtn:hover {
  background-color: rgb(254,149,164);
  color: white;
}

#title{
  background-color: #ffdac0;
;
  padding-bottom: 5%;
}
#title1{
  background-color: #ffdac0;
;
  padding-bottom: 5%;
}

.heading{
  font-family: Montserrat-black;
  font-size: 3rem;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

.container-fluid{
  padding: 2% 3%;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: rgb(254,149,164);
  color: white;

}

.link{
    text-decoration: none;
    color: #f04170;
}

.footer-link > a:hover{
    color: rgb(255, 255, 255);
}

.footer-heading{
    color : #f580a0;
}

.text-black{
    color: rgb(255, 255, 255);
}

#foot{
     background-color: rgb(254,149,164);
}

