* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffecdf;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

body {
    font-family: cursive;
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffecdf;
    color: #878e9b;
}

.nav-links{
    background-color: #ffecdf;
}

.nav-links a {
    color: #878e9b;
    
}


/* LOGO */
.logo {
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: bolder;
    background-color: #ffecdf;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    background-color: #ffecdf;
}


.menu li {
    padding: 0px 14px;
    justify-content: center;
    margin-top: 15px;
    background-color: #ffecdf;
}

.menu li a {
    text-decoration: none;
    background-color: #ffecdf;
}


/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: #ffecdf;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #ffecdf;
}

.services:hover .dropdown {
    display: block;
}

/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #ffecdf;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #ffecdf;
        transition: 0.3s ease;
    }

    

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #ffecdf;
    }
}

/* Logout Btn */

.btn__logout{
    padding: 2.5px;
    width: 120px;
    border-radius: 7px;
    background-color: #ed1f68;
    border: #fff;
    color: #ffecdf;
    font-weight: 600;
    margin-top: -3px;
}

/*******************************************/


.blog__container{
    align-content: center;
    color: #f580a0;
    width: 60%;
    margin: auto;
    padding: 10px;
    padding-top: 100px;
}

.genre{
    color: #ed1f68;
    font-size: 1.2rem;
    font-weight: 700;
}

.Date{
    color: gray;
    font-weight: 600;
}

.title{
    color: #000;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
}

.minRead_p{
    color: lightslategray;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.minRead_span{
    color: #ed1f68;
    font-size: 1rem;
    padding-top: 15px;
    font-family: 'Inter', sans-serif;
}

.img__blog{
    width: 85%;
    padding-top: 20px;
}

.blogContent{
    padding-top: 20px;
}

.content_desc{
    color: #000;
    width: 85%;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.content_heading{
    color: #000;
    width: 90%;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}


.link{
    text-decoration: none;
    color: #ed1f68;
}

.footer-link > a:hover{
    color: #000;
}

.footer-heading{
    color : #ed1f68;
}

.text-black{
    color: #000;
}