


#contactbtn{
  margin-left: 1550px;
}

#loginbtn{
    margin: 1%;
    padding: 3% 5%;
    transition-duration: 0.4s;
    font-size: 30px;
}
#loginbtn:hover {
  background-color: rgb(254,149,164);
  color: white;
}

#title{
  background-color: #ffecdf;
;
  padding-bottom: 5%;
}
#title1{
  background-color: #ffecdf;
;
  padding-bottom: 5%;
}

.heading{
  /* font-family: 'Inter', sans-serif; */
  
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  
}

.title_heading{
  font-family: 'Satisfy', cursive;
}

.container-fluid{
  padding: 2% 3%;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ffecdf;
  color:black;

}

/* .answer{

} */


.link{
    text-decoration: none;
    color: #f04170;
}

.footer-link > a:hover{
    color: #ffecdf;
}

.footer-heading{
    color : #f580a0;
}

.text-black{
    color: rgb(255, 255, 255);
}

#foot{
     background-color: rgb(254,149,164);
}




/*carosel style*/
.answer{
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  padding: 0 140px;
}

.heading{
  font-family: 'Inter', sans-serif;
  padding: 0 140px;
}

.carousel{
  padding: 30px;
}


/*Carsd Home*/
.sectionCards {
  padding-top: 5%;
  /* margin-left: 10%; */
  display: flex;
  justify-content: center;
}


.myButton {
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-color: rgb(237, 31, 104);
  display: inline-block;
}

.myButton:hover {
  background: #1C6EA4;
}

.myButton:active {
  background: #144E75;
}

.card-body{
  /* background: #144E75; */
}

.cards {
  display: inline-block;
  margin-left: 2.5%;
  background-color: #ffecdf !important;
  /* background: #ed1f68 !important; */
}

.cards_homePage{
  /* margin: 20px 120px;
  justify-content: center; */
  padding-top: 5%;
    /* margin-left: 10%; */
  display: flex;
  justify-content: center;
}

.cards___image{
  height: 200px;
}